<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.quick4j.leasing.summary.entity.SummaryResultMapper">
    <resultMap id="summaryResult" type="com.github.quick4j.leasing.summary.entity.SummaryResult">
        <result property="goodsType" column="goods_type"/>
        <result property="goodsName" column="goods_name"/>
        <result property="goodsSpec" column="goods_spec"/>
        <result property="packages" column="packages"/>
        <result property="numbers" column="numbers"/>
    </resultMap>

    <sql id="subSelectLeaseOrder">
        select holder_id, project_id, goods_id, goods_name, goods_spec, goods_type,
          case when order_type='out' then -1*packages else packages end as packages,
          case when order_type='out' then -1*numbers else numbers end as numbers
        from lease_orders
        join lease_order_items on lease_order_items.order_id = lease_orders.id
        <where>
            <if test="holderId != null">
                holder_id = #{holderId}
            </if>
            <if test="projectId != null">
                and project_id = #{projectId}
            </if>
        </where>
    </sql>

    <sql id="subSelectReletOrder">
        select leaser_id, leaser_name, order_type, goods_id, goods_name, goods_spec, goods_type,
        case when order_type='out' then -1*packages else packages end as packages,
        case when order_type='out' then -1*numbers else numbers end as numbers
        from lease_relet_orders
        join lease_relet_order_items on lease_relet_order_items.order_id = lease_relet_orders.id
        <where>
            <if test="leaserId != null">
                leaser_id = #{leaserId}
            </if>
        </where>
    </sql>

    <select id="generalSummary" resultMap="summaryResult" parameterType="map">
        select t.goods_type, t.goods_name, t.goods_spec, sum(t.packages) as packages, sum(t.numbers) as numbers
        from (<include refid="subSelectLeaseOrder"/>) t
        group by goods_id
        order by goods_type, goods_spec
    </select>

    <select id="generalReletSummary" resultMap="summaryResult" parameterType="map">
        select t.goods_type, t.goods_name, t.goods_spec, sum(t.packages) as packages, sum(t.numbers) as numbers
        from (<include refid="subSelectReletOrder"/>) t
        group by goods_id
        order by goods_name, goods_spec
    </select>
</mapper>